<section class="bs-docs-section">
  <div class="row">
    <div class="col-md-6">
      <div class="bs-component">
        <h2><%= 'top.heading'.t %></h2>
        <p class="lead"><%= 'top.description'.t %></p>
      </div>
    </div>
    <div class="col-md-6">
      <%= render 'top/login_form' %>
    </div>
  </div>
</section>