// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.thumbnail {
  max-width: 300px;
  max-height: 300px;
}