<div class="bs-component"%>
  <%= form_tag images_path, id: 'upload_form', multipart: true do %>
    <fieldset class="form-horizontal">
      <div class="form-group label-static is-fileinput">
        <%= label_tag :file, 'upload_form.label.file'.t, class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= file_field_tag :file, class: 'form-control', placeholder: 'upload_form.placeholder.file'.t %>
        </div>
      </div>
      <nav>
        <%= submit_tag 'upload_form.label.submit'.t, class: 'btn btn-primary' %>
      </nav>
    </fieldset>
  <% end %>
</div>