<section class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><%= 'site.title'.t %></h1>
        <p class="lead"><%= 'site.sub_title'.t %></p>
      </div>
    </div>
  </div>
</section>